<!doctype html>
<html lang="en">
  <head>
    <title>Startup Checkup, taking the temperature</title>
    <meta charset="utf-8">
    <link type="text/plain" rel="startup" href="/startup.txt">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <style type="text/css">
    html{
      margin: 0;
      height: 100%;
      overflow: hidden;
    }
    iframe{
      position: absolute;
      left:0;
      right:0;
      bottom:0;
      top:0;
      border:0;
    }
    </style>
  </head>
  <body>
  {{ content }}
  </body>
</html>
